%p
	Hey
	= @name.titleize
	
%p
	Thanks for your interest in Testify. To sign up, go to:
	%br
	= link_to "http://testifyapp.com/signup/#{@code}", "http://testifyapp.com/signup/#{@code}"

%p
	You might need the following invite code too:
	%b= @code
	
%p
	Thanks,
	
%p
	The Testify Team
