%p
	Hey
	= @demand.name.titleize

%p
	- if @demand.user.name.nil?
		= @demand.user.handle
	- else
		= @demand.user.name.titleize
	has requested feedback from you on Testify.

- unless @demand.custom_text.blank?	
	%p
		%b= @demand.custom_text

%p
	To let them know what you thought, go to:
	%br
	= link_to @link, @link

%p
	Thanks,

%p
	The Testify Team
