%p
	Hey
	= @demand.name.titleize

%p
	= @demand.user.name.titleize
	has requested feedback from you for the following project:
	%br
	%b= @demand.work.titleize
	
%p
	%b= @demand.custom_text

%p
	To let them know what you thought, go to:
	%br
	= link_to @link, @link

%p
	Thanks,

%p
	The Testify Team
