%p
	Hey
	= @demand.name.titleize

%p
	- if @demand.user.name.nil?
		= @demand.user.handle
	- else
		= @demand.user.name.titleize
	wants to remind you to provide feedback on the following:
	%br
	%b= @demand.work.titleize

%p
	To let them know what you thought, go to:
	%br
	= link_to @link, @link

%p
	Thanks,

%p
	The Testify Team
