- form_for(@user) do |f|
	= f.error_messages
	%p
		= f.label :name
		%br
		= f.text_field :name
	%p
		= f.label :handle, 'Choose your unique URL'
		%br
		= f.text_field :handle
	%p
		= f.label :email
		%br
		= f.text_field :email
	%p
		= f.label :password, 'Password'
		%br
		= f.password_field :password
	%p
		= f.label :password_confirmation, 'Confirm Password'
		%br
		= f.password_field :password_confirmation
	%p
		= f.submit "Update", :id => 'save_button'
		= link_to 'Cancel', user_path(@user), :id => 'cancel_link'

