
.upper
	- if params[:first_time] == 'true'
		%h2 Your details
	- elsif params[:upload_logo] == 'true'
		%h2 Choose a logo
	- elsif params[:criteria] == 'true'
		%h2 Options
	-else
		%h2 Account settings

.lower
	-	form_for(@user, :html => { :multipart => true }) do |f|
		= f.error_messages :header_message => nil, :header_tag => 'h3', :message => "We had some problems with the following fields:"
		
		- if params['upload_logo'] == 'true'
		
			= hidden_field_tag :upload_logo, 'true'
			%p.divider
				= f.label :logo, 'Upload an image or logo'
				%br
				= f.file_field :logo
			%p
				= f.submit "Next", :id => 'save_button'
				= link_to 'Skip this &raquo;', :controller => 'users', :action => 'edit', :id => @user.handle, :criteria => 'true'
				
		- elsif params['first_time'] == 'true'
		
			= hidden_field_tag :first_time, 'true'
			%p
				= f.label :name
				%br
				= f.text_field :name
			%p
				= f.label :about, 'About you'
				%br
				= f.text_field :about, :maxlength => 300, :size => 30
			%p
				= f.label :site, 'Website'
				%br
				= f.text_field :site, :maxlength => 200, :size => 30, :value => 'http://'
			%p
				= f.submit "Next", :id => 'save_button'
				= link_to 'Skip this &raquo;', :controller => 'users', :action => 'edit', :id => @user.handle, :criteria => 'true'
								
		- elsif params['criteria'] == 'true'
		
			%p
				%h5 Choose up to four criteria to be reviewed. Here's a few suggestions.
				= f.text_field :customer_service_name, :maxlength => 15
			%p
				= f.text_field :time_management_name, :maxlength => 15
			%p	
				= f.text_field :value_for_money_name, :maxlength => 15
			%p
				= f.text_field :quality_of_service_name, :maxlength => 15
			%p
				= f.submit "Next", :id => 'save_button'
				
		- else
		
			%p
				= f.label :name
				%br
				= f.text_field :name
			%p
				= f.label :about, 'About you'
				%br
				= f.text_field :about, :maxlength => 300, :size => 30
			%p
				= f.label :site, 'Website'
				%br
				= f.text_field :site, :maxlength => 200, :size => 30
				%p
					= f.label :email
					%br
					= f.text_field :email
				%p.divider
					= f.label :password, 'Password'
					%br
					= f.password_field :password
				%p
					= f.label :password_confirmation, 'Confirm Password'
					%br
					= f.password_field :password_confirmation
				%p.divider
					%h5 Upload an image or logo
					= f.file_field :logo
				%p.divider
					%h5 Choose up to four criteria to be reviewed
					= f.text_field :customer_service_name, :maxlength => 15
				%p
					= f.text_field :time_management_name, :maxlength => 15
				%p	
					= f.text_field :value_for_money_name, :maxlength => 15
				%p
					= f.text_field :quality_of_service_name, :maxlength => 15
				%p.divider
					= f.submit "Update", :id => 'save_button'