-	form_for(@user, :html => { :multipart => true }) do |f|
	= f.error_messages
	%p
		= f.label :name
		%br
		= f.text_field :name
	%p
		= f.label :handle, 'Choose your unique URL'
		%br
		= f.text_field :handle
	%p
		= f.label :email
		%br
		= f.text_field :email
	%p.divider
		= f.label :password, 'Password'
		%br
		= f.password_field :password
	%p
		= f.label :password_confirmation, 'Confirm Password'
		%br
		= f.password_field :password_confirmation
	%p.divider
		= f.label :logo, 'Upload an image or logo'
		%br
		= f.file_field :logo
	%p
		= f.submit "Sign up", :id => 'save_button'
		= link_to 'Cancel', { :controller => 'pages', :action => 'index' }, :id => 'cancel_link'

