
- if params[:first_time] == 'true'
	-content_for :message do
		#message
			%h5 Welcome to Testify!
			Thanks for signing up. You're now ready to get testimonials from your clients, and build a profile of awesome feedback. To get started,
			= link_to 'request feedback.', new_user_demand_path(current_user)


.upper#large_header
	= image_tag @user.logo.url(:small), :id => 'logo_small'
	%h2
		- if !@user.name.nil?
			=	@user.name.titleize
		- else
			= @user.handle
	-#	is using Testify to win more business and improve their service, simply by collecting the following testimonials.
	
	- unless @user.about.nil?
		%p#about
			= @user.about
	
	.buttons
		- unless @user.site.nil?
			= link_to 'View site', @user.site, :class => 'left_button', :id => 'no_left_margin'
		= link_to 'Contact', "mailto:#{@user.email}", :class => 'left_button'

- unless @user.reviews.empty?
	.lower#averages
		.left_averages
			- unless @user.time_management_name.blank?
				%span.category= @user.time_management_name + ":"
				%span.result= @user.ratings_options.at(@user.time_management_mean.round).titleize
				%br
			- unless @user.customer_service_name.blank?
				%span.category= @user.customer_service_name + ":"
				%span.result= @user.ratings_options.at(@user.customer_service_mean.round).titleize
				%br
			- unless @user.value_for_money_name.blank?
				%span.category= @user.value_for_money_name + ":"
				%span.result= @user.ratings_options.at(@user.value_for_money_mean.round).titleize
				%br
			- unless @user.quality_of_service_name.blank?
				%span.category= @user.quality_of_service_name + ":"
				%span.result= @user.ratings_options.at(@user.quality_of_service_mean.round).titleize
				
		#border &nbsp;
		
		.right_averages
			%span#review_count= @user.reviews.count
			- if @user.reviews.count == 1
				%span#review_count_sub review
			- else
				%span#review_count_sub reviews

#reviews
	- if !@reviews.empty?
		= render :partial => @reviews
	- else
		.point
			- if logged_in? && @user == current_user
				No one's reviewed you yet! 
				= link_to 'Request feedback?', new_user_demand_path(current_user)
			- else
				This user hasn't been reviewed yet.
