
- if params[:first_time] == 'true'
	-content_for :message do
		#message
			%h4 Welcome to Testify!
			Thanks for signing up. You're now ready to get testimonials from your clients, and build a profile of awesome feedback. To get started,
			= link_to 'request feedback.', new_user_demand_path(current_user)
= image_tag @user.logo.url(:small), :id => 'logo'

%h3#big_name= @user.name
%br
%br
Is using Testify to win more business and improve their service,
%br
simply by collecting the following testimonials.
%br
%br

- unless @user.reviews.empty?
	#averages
		%h4 Average ratings
		%br
		Time management:
		%span.bold= @user.ratings_options.at(@user.time_management_mean.round)
		%br
		Customer service: 
		%span.bold= @user.ratings_options.at(@user.customer_service_mean.round)
		%br
		Value for money: 
		%span.bold= @user.ratings_options.at(@user.value_for_money_mean.round)
		%br
		Overall quality:
		%span.bold= @user.ratings_options.at(@user.quality_of_service_mean.round)

%ul#reviews
	- if !@reviews.empty?
		= render :partial => @reviews
	- else
		%li
			- if logged_in? && @user == current_user
				No one's reviewed you yet! 
				= link_to 'Request feedback?', new_user_demand_path(current_user)
			- else
				This user hasn't been reviewed yet.
