%ul#navigation
	%li= link_to 'My feedback', short_user_path(current_user)
	%li= link_to 'Request feedback', short_new_user_demand_path(current_user)
	%li= link_to 'Pending reviews', short_user_demands_path(current_user)
	%li= link_to 'Badges', :controller => 'badges'
	%li= link_to 'Settings', settings_path(current_user)
	%li#last= link_to 'Log out', logout_path
