%li
	%span.bold Name:
	= demand.name.titleize
	%br
	%span.bold Email:
	= demand.email
	%br
	%span.bold Company:
	= demand.company.titleize
	%br
	%span.bold Project:
	= demand.work.titleize
	%br
	%span.bold Requested:
	= time_ago_in_words(demand.created_at)
	ago		
	%p
	%span{:id => "reminder_link_#{demand.id}"}
		= link_to_remote "Send an email reminder", :url => { :controller => 'demands', :action => 'send_email', :id => demand.id }
