.point
	%h5
		= time_ago_in_words(demand.created_at)
		ago	
	%span.field Name:
	%span.answer= demand.name.titleize
	%br
	%span.field Email:
	%span.answer= demand.email
	%br
	- unless demand.company.blank?
		%span.field Company:
		%span.answer= demand.company.titleize
		%br
	- unless demand.work.blank?
		%span.field Project:
		%span.answer= demand.work.titleize

	%p
		%span{:id => "reminder_link_#{demand.id}"}
		= link_to_remote "Send an email reminder", :url => { :controller => 'demands', :action => 'send_email', :id => demand.id }
