%p
	You've just requested a review from 
	= @demand.name
	of 
	= @demand.company

%p.important
	The unique URL for this review (that you can send to your client) is:
	%br
	= link_to "http://testify.thecouriernew.com/go/#{@demand.code}", "http://testify.thecouriernew.com/go/#{@demand.code}"
	
-if @demand.send_email.to_i == 1
	%p
		An email notification has been sent to 
		= @demand.email
		
%p
	= link_to "Return to profile", user_path(@demand.user)
	|
	= link_to "Request another review", :controller => 'demands', :action => 'new'
	
