%li
	- if current_user != @user && !review.name_hidden?
		%span{:id => "name_#{review.id}"}
			%span.bold Name:
			= review.name
	- elsif current_user == @user && review.name_hidden?
		%span{:id => "name_#{review.id}"}
			= render :partial => 'reviews/name_greyed', :locals => { :review => review }
	- elsif current_user == @user && !review.name_hidden?
		%span{:id => "name_#{review.id}"}
			= render :partial => 'reviews/name', :locals => { :review => review }
	- if current_user != @user && !review.company_hidden?
		%span{:id => "company_#{review.id}"}
			%span.bold#review_company Company:
			= review.company
	- elsif current_user == @user && review.company_hidden?
		%span{:id => "company_#{review.id}"}
			= render :partial => 'reviews/company_greyed', :locals => { :review => review }
	- elsif current_user == @user && !review.company_hidden?
		%span{:id => "company_#{review.id}"}
			= render :partial => 'reviews/company', :locals => { :review => review }

	%span.bold#review_project Project:
	= review.work

	%p.important
		= review.body
	%br
	Value for money:
	%span.bold= "#{review.value_for_money}/5"
	%br
	Time management:
	%span.bold= "#{review.time_management}/5"
	%br
	Customer service:
	%span.bold= "#{review.customer_service}/5"
	%br
	Overall quality:
	%span.bold= "#{review.quality_of_service}/5"
	
	= review.created_at
