-	form_for([@user, @review]) do |f|
	= f.error_messages
	%p
		Name:
		= @review.name
	%p
		Company:
		= @review.company
	%p
		Job description:
		= @review.work
	%p
		= f.label :body, 'Review'
		= f.text_area :body
	%p
		= f.submit "Continue", :id => 'save_button'

		= link_to 'Cancel', { :controller => 'pages', :action => 'index' }, :id => 'cancel_link'
