%p
	=	@demand.name
%p
	=	@demand.company
%p
	=	@demand.work
%p
	=	@demand.email

-	form_for([current_user, @review]) do |f|
	= f.error_messages
	%p
		= f.label :body, 'Review'
		= f.text_area :body
		
		=	f.hidden_field :demand_id
	%p
		= f.submit "Continue", :id => 'save_button'

		= link_to 'Cancel', user_path(@demand.user), :id => 'cancel_link'
