.upper
	= image_tag @demand.user.logo.url(:thumb), :id => 'logo_thumb'
	.upper_inner
		- if @demand.user.name.nil?
			%h2= @demand.user.handle.titleize
		-else
			%h2= @demand.user.name.titleize
		Please take a moment to fill in this form. Bear in mind that your review will be publicly available, so please try to be honest.
	
.lower
	%h3=	"#{@demand.name.titleize}, #{@demand.company}"
	%h5#project_description=	@demand.work.titleize

	-	form_for([@demand.user, @review]) do |f|
		= f.error_messages :header_message => "", :header_tag => 'h3', :message => "We had some problems with the following fields:"
		%p
			= f.text_area :body, :value => 'Comments'
			
			=	f.hidden_field :demand_id
		- unless @demand.user.value_for_money_name.blank?
			%p.radios.divider
				= f.label :value_for_money, @demand.user.value_for_money_name
				%br
				= f.radio_button :value_for_money, 4
				Excellent
				= f.radio_button :value_for_money, 3
				Good
				= f.radio_button :value_for_money, 2, :checked => true
				Average
				= f.radio_button :value_for_money, 1
				Poor
				= f.radio_button :value_for_money, 0
				Awful
		- unless @demand.user.time_management_name.blank?
			%p.radios.divider
				= f.label :time_management, @demand.user.time_management_name
				%br
				= f.radio_button :time_management, 4
				Excellent
				= f.radio_button :time_management, 3
				Good
				= f.radio_button :time_management, 2, :checked => true
				Average
				= f.radio_button :time_management, 1
				Poor
				= f.radio_button :time_management, 0
				Awful
		- unless @demand.user.customer_service_name.blank?
			%p.radios.divider
				= f.label :customer_service, @demand.user.customer_service_name
				%br
				= f.radio_button :customer_service, 4
				Excellent
				= f.radio_button :customer_service, 3
				Good
				= f.radio_button :customer_service, 2, :checked => true
				Average
				= f.radio_button :customer_service, 1
				Poor
				= f.radio_button :customer_service, 0
				Awful
		- unless @demand.user.quality_of_service_name.blank?
			%p.radios.divider
				= f.label :quality_of_service, @demand.user.quality_of_service_name
				%br
				= f.radio_button :quality_of_service, 4
				Excellent
				= f.radio_button :quality_of_service, 3
				Good
				= f.radio_button :quality_of_service, 2, :checked => true
				Average
				= f.radio_button :quality_of_service, 1
				Poor
				= f.radio_button :quality_of_service, 0
				Awful
		%p.divider
			= f.submit "Continue", :id => 'save_button'