!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title= site_name
		= stylesheet_link_tag 'new_style'
	%body
		
		#page
			-	if logged_in?
				= render :partial => 'shared/navigation'
			- else
				= link_to "Log in", login_path, :id => 'login'

			= image_tag 'testify_logo.png', :id => 'testify_logo'

			-	flash.each do |key, message|
				%div{:id => key, :class => 'flash'}
					= image_tag "icons/#{key}.png", :class => 'flash_icon'
					= message
				
			= yield :message
		
			=	yield
		
			= render :partial => 'shared/footer'
			
		:javascript
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		:javascript
			try {
			var pageTracker = _gat._getTracker("UA-10954648-1");
			pageTracker._trackPageview();
			} catch(err) {}
